<html>
    <head>
        <title>
            Welcome
        </title>
        <style>
            .head{
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size:64px;
                color: lightseagreen;
            }
            body{
                background-color: black;
            }
            h4{
                color: chartreuse;
            }
            .divisor{
                height:180px;
                border-radius: 5px;
            }
            .classOfElements {
                background-color: #fff;
                background-color: rgba(255,255,255,0.2);
                border-radius:15px;
                font-size: 10px;
            }
            a{
                text-decoration: none;
                color: coral;
            }
        </style>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    </head>
    <body>
        <main class="container">
            <nav>
                <ul>
                  <li><strong class="head">To 'N' Do</strong></li>
                </ul>
                <ul>
                  <li><a href="https://github.com/adithya1770">GitHub</a></li>
                  <li><a href="https://expressjs.com/">ExpressJS</a></li>
                  <li><button class="secondary">Dummy</button></li>
                </ul>
              </nav>
        <br>
        <br>
        <div class="classofElements">
        <h4>In today's fast-paced world, staying organized and managing tasks efficiently is crucial. Whether you're a student juggling assignments, a professional handling projects, or simply someone trying to keep track of daily chores, having a reliable Todo app can make all the difference. A Todo app is a digital tool designed to help individuals or teams organize, prioritize, and manage tasks effectively.</h4>
        </div>
        <br>
        <br>
        <center>
        <button onclick="todo()">Start Working!</button>
        <br>
        <br>
        <details>
            <summary role="button">DevAdi</summary>
            <p>
                <blockquote>
                    “Design is a funny word. Some people think 
                    design means how it looks. But of course, if 
                    you dig deeper, it's really how it works.”
                    <footer>
                      <cite>— Steve Jobs</cite>
                    </footer>
                </blockquote>
                <blockquote>
                    “Lol"
                    <footer>
                      <cite>— Adithya P S</cite>
                    </footer>
                </blockquote>
            </p>
          </details>
        </main>
        <center>
        <p><b>भारत में बना हुआ  |   Devआदि&copy</p>
    </center>
    </body>
    <script>     
        function todo() {
        window.location.href = '/todo';
        }
    </script>
</html>